@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

*{
    font-family: 'Protest Riot', sans-serif;;
}

main{
    background: linear-gradient(blue,white, red);
}
/* all header styles */

h1{
    font-size: 45px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    top: 100px;
}

#desc {
font-size: 25px;
text-align: center;
position: relative;
top: 100px;
}

nav{
    display: flex;
    justify-content: end;
    padding: 10px;
}

nav a{
    margin: 5px;
    color: black;
    font-size: 25px;
}

.pic-of-me{
    display: flex;
    justify-content: end;
}
.pic-of-me img{
    border-radius: 25%;
    width: 25%;
}
/* projects styles */
h2{
    font-size: 35px;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}

.project-one , .project-two{
    display: flex;
    justify-content: end;
}

#project-one-desc, #project-two-desc{
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-one-img{
    width:100%;
    height: 75%;
    border-radius: 50%;
}

#project-one-img:hover{
    border-radius: 0%;
}

#project-two-img{
    width: 100%;
    padding: 10px;
    border-radius: 50%;
}
#project-two-img:hover{
    border-radius: 0%;
}

/* About me styles */
#about-desc{
    font-size:25px ;
    text-align: center;
    line-height: 1.5;
}


/* contacts styles */
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 5px dashed blue;
    font-size: 30px;
}

.list a{
    color: black;
}

footer{
    font-size: 25px;
    text-align: center;
    padding: 50px;
}

/* different screen size */

@media screen and (max-width: 576px){
h1, #desc{
  position: static;
  text-align: center;  
}
nav{
    display: block;
    text-align: center;
}
.pic-of-me{
    justify-content: center;
}
h2{
    font-size: 25px;
}
#project-one-desc{
    font-size: 15px;
}
#project-two-desc{
    font-size: 15px;
}
#about-desc{
    font-size: 15px;
}
.list{
    font-size: 15px;
    padding: 15px;
}
footer{
    font-size: 10px;
    padding: 10px;
}
}